*.pyc
*.db
pip-log.txt
.sass-cache
barcampweb_site/media/assets/s/fonts/*.svg
barcampweb_site/media/assets/s/fonts/*.ttf
barcampweb_site/media/assets/s/fonts/*.eot
barcampweb_site/media/assets/s/fonts/*.woff
