<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" href="{{ MEDIA_URL }}assets/reset-min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}assets/screen.css" type="text/css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}assets/content.css" type="text/css" media="all" />
    <script src="{{ MEDIA_URL }}assets/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ MEDIA_URL }}assets/markitup/jquery.markitup.pack.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ MEDIA_URL }}assets/jquery.tools.min.js"></script>
    <script src="{{ MEDIA_URL }}assets/global.js" type="text/javascript" charset="utf-8"></script>
	<title>base</title>
	{% block head %}{% endblock %}
</head>

<body>
    <div id="page">
        <div id="header">
        </div>
        <div id="main">
            <h1>{% block title %}{% endblock %}</h1>
            <div id="body">{% block body %}
                <div id="content">
                    {% block content %}{% endblock %}
                </div>
                <div id="sidebar">
                    {% block sidebar %}{% endblock %}
                </div>
            {% endblock %}</div>
            <ul id="pageactions">
                {% block pageactions %}
                <li><a class="action action-new" href="{% url barcamp-create %}">Neues Barcamp anlegen</a></li>
                {% endblock %}
            </ul>
        </div>
        <div id="footer"></div>
    </div>
    <div id="xhrOverlay" class="overlay"></div>
</body>
</html>
