{% load i18n %}<!DOCTYPE html>

<html> 
<head>
    <meta charset="UTF-8" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}assets/reset-min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}assets/screen.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}assets/content.css" type="text/css" media="all" />
    <script src="{{ MEDIA_URL }}assets/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ MEDIA_URL }}assets/markitup/jquery.markitup.pack.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ MEDIA_URL }}assets/jquery.tools.min.js"></script>
    <script src="{{ MEDIA_URL }}assets/global.js" type="text/javascript" charset="utf-8"></script>
	<title>base</title>
	{% block head %}{% endblock %}
</head>

<body>
    <div id="page">
        <div id="header">
        </div>
        <div id="main">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            
            <h1>{% block title %}{% endblock %}</h1>
            <div id="body">{% block body %}
                <div id="content">
                    {% block content %}{% endblock %}
                </div>
                <div id="sidebar">
                    {% block sidebar %}{% endblock %}
                </div>
            {% endblock %}</div>
            <ul id="pageactions">
                {% block pageactions %}
                {% if user.is_authenticated %}
                <li><a class="action action-new" href="{% url barcamp:create %}">{% trans "Create a new barcamp" %}</a></li>
                {% endif %}
                {% endblock %}
            </ul>
        </div>
        <div id="footer">
            {% if request.username %}
            {% blocktrans with request.username as username %}Hello {{ username }}{% endblocktrans %} <a href="{% url account:simple_logout %}?next={{ request.path }}">{% trans "Log in" %}</a>
            {% endif %}
            {% if user.is_authenticated %}
            {% blocktrans with user.username as username %}Hello {{ username }}{% endblocktrans %}, <a href="{% url logout %}?next={{ request.path }}">{% trans "Log out" %}</a>
            {% endif %}
            {% if not request.username and not user.is_authenticated %}
            <a href="{% url login %}?next={{ request.path }}">{% trans "Log in" %}</a>
            {% endif %}
        </div>
    </div>
    <div id="xhrOverlay" class="overlay"></div>
    {% block end %}
    {% endblock %}
</body>
</html>
