{% extends "base.html" %}
{% block title %}
    {{ barcamp.name }}
{% endblock %}
{% block pageactions %}
    {% if is_organizer %}
    <li class="action action-edit"><a href="{% url barcamp-edit barcamp.slug %}">Ändern</a></li>
    {% if barcamp.marked_for_removal_at %}
    <li class="action action-undo"><a href="{% url barcamp-undelete barcamp.slug %}">Löschvorgang abbrechen</a></li>
    {% else %}
    <li class="action action-delete"><a href="{% url barcamp-delete barcamp.slug %}">Löschen</a></li>
    {% endif %}
    {% endif %}
    {{ block.super }}
{% endblock %}
{% block content %}
    {% if barcamp.marked_for_removal_at %}
    <p class="warning">
        <h3>Achtung</h3>
        <p>Dieses Barcamp wurde als gelöscht markiert.</p>
    </p>
    {% endif %}
    <div id="meta">
        <dl>
            <dt>Wann?</dt>
            <dd>{{ barcamp.start|date }} - {{ barcamp.end|date }}</dd>
        </dl>
    </div>
    <div id="teaser">{{ barcamp.teaser|markdown }}</div>
    <div id="description">{{ barcamp.description|markdown }}</div>
    
    <ul id="submenu">
        <li class="{% block submenu-barcamp-info %}{% endblock %}"><a href="{% url barcamp-view barcamp.slug %}">Info</a></li>
        <li class="{% block submenu-barcamp-proposals %}{% endblock %}"><a href="{% url barcamp-proposals barcamp.slug %}">Themenvorschläge</a></li>
        <li class="{% block submenu-barcamp-schedule %}{% endblock %}"><a href="{% url barcamp-schedule barcamp.slug %}">Sessions &amp; Ablauf</a></li>
    </ul>
    <div id="subcontent">
        {% block subcontent %}
        {% endblock %}
    </div>
{% endblock %}
{% block sidebar %}
    <h2>Sponsors</h2>
    <ul>
        {% for sponsor in sponsors %}
        <li>
            <a href="{{ sponsor.url }}"><img src="{{ MEDIA_URL }}{{ sponsor.logo }}" alt="{{ sponsor.name }}" /></a>
            {% if is_organizer %}
            <a class="action action-edit" href="{% url barcamp-edit-sponsor barcamp.slug,sponsor.pk %}">editieren</a>
            <a class="action action-delete" href="{% url barcamp-remove-sponsor barcamp.slug,sponsor.pk %}">löschen</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% if is_organizer %}
        <a class="action-new action" href="{% url barcamp-add-sponsor barcamp.slug %}">Sponsor hinzufügen</a>
    {% endif %}
{% endblock %}
