{% extends "barcamp/barcamp-base.html" %}
{% block title %}Zeitplan für {{ barcamp.name }}{% endblock %}
{% block submenu-barcamp-schedule %}active{% endblock %}
{% block end %}
<script type="text/javascript" charset="utf-8">
    $('#create-slot, .slot .action, #detached-talks .action').defaultFormOverlay();
</script>
{% endblock %}
{% block subcontent %}
    {% for day, slots in slots_per_day %}
    <h2>{{ day }}</h2>
    <table>
        <thead>
            <tr>
                <th>Zeit</th>
                {% for room in rooms %}
                <th>{{ room.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for slot, rooms in slots %}
            <tr>
                <td>
                    {{ slot.start|time:"H:i" }}-{{ slot.end|time:"H:i" }}
                    {% if is_organizer %}
                    <a href="{% url barcamp:delete-slot barcamp.slug,slot.pk %}" class="action action-delete">Slot löschen</a>
                    {% endif %}
                </td>
                {% for room, event in rooms.items %}
                <td class="slot">
                    {% if event %}
                        <a href="{% url barcamp:event barcamp.slug,event.pk %}">{{ event.name }}</a>
                        {% if event.can_edit and user.is_authenticated %}
                        <p class="actions">
                        <a class="action action-edit" href="{% url barcamp:edit-talk barcamp.slug event.pk %}">Ändern</a>
                        <a class="action action-delete" href="{% url barcamp:delete-talk barcamp.slug event.pk %}">Löschen</a>
                        <a class="action action-move" href="{% url barcamp:move-talk barcamp.slug event.pk %}">Verschieben</a>
                        <a class="action action-detach" href="{% url barcamp:detach-talk barcamp.slug event.pk %}">Aushängen</a>
                        </p>
                        {% endif %}
                    {% else %}
                        {% if user.is_authenticated %}
                        <p class="actions"><a class="action action-new" href="{% url barcamp:create-talk barcamp.slug slot.pk room.pk %}">Slot füllen</a></p>
                        {% endif %}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    
    {% if detached_talks %}
    <div id="detached-talks">
    <h2>Offene Talks</h2>
    <ul class="content">
        {% for talk in detached_talks %}
        <li>
            <a href="">{{ talk.name }}</a>
            {% if talk.can_edit %}
            <a class="action action-edit" href="{% url barcamp:edit-talk barcamp.slug talk.pk %}">Ändern</a>
            <a class="action action-delete" href="{% url barcamp:delete-talk barcamp.slug talk.pk %}">Löschen</a>
            <a class="action action-move" href="{% url barcamp:move-talk barcamp.slug talk.pk %}">Verschieben</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}

    <a id="create-slot" href="{% url barcamp:create-slot barcamp.slug %}" class="action action-new">Slot anlegen</a>
{% endblock %}