{% extends "barcamp/barcamp-base.html" %}
{% block submenu-barcamp-proposals %}active{% endblock %}
{% block head-title %}Themenvorschläge « {{ block.super }}{% endblock %}
{% block title %}Themevorschläge für {{ barcamp.name }}{% endblock %}
{% block head %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            $('.talkidea .action, .newtalkidea.action-new').defaultFormOverlay();
        })
    </script>
{% endblock %}
{% block subcontent %}
    <ul>
    {% for proposal in ideas %}
        <li class="talkidea">
            <h2 class="title">{{ proposal.name }}</h2>
            {% if proposal.description %}
            <div class="description">{{ proposal.description|markdown }}</div>
            {% endif %}
            {% for x in proposal.vote_count|range %}
                +
            {% endfor %}
            <cite>-- {% if proposal.user %}<span class="authenticated">{{ proposal.user }}</span>{% else %}{{ proposal.user_name }}{% endif %} ({{ proposal.created_at|date }})</cite>
            {% ifequal proposal.user request.user  %}
            {% else %}
            {% if proposal.already_voted %}
                <a href="{% url barcamp:unvote-proposal barcamp.slug proposal.pk %}">-</a>
            {% else %}
                <a href="{% url barcamp:vote-proposal barcamp.slug proposal.pk %}">+</a>
            {% endif %}
            {% endifequal %}
            {% if proposal.user and request.user == proposal.user %}
            <a href="{% url barcamp:edit-proposal barcamp.slug proposal.pk %}" class="action action-edit">ändern</a>
            <a href="{% url barcamp:delete-proposal barcamp.slug proposal.pk %}" class="action action-delete">löschen</a>
            {% endif %}
            {% if not proposal.user or is_organizer %}
            <a href="{% url barcamp:edit-proposal barcamp.slug proposal.pk %}" class="action action-edit">ändern</a>
            <a href="{% url barcamp:delete-proposal barcamp.slug proposal.pk %}" class="action action-delete">löschen</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    <a href="{% url barcamp:create-proposal barcamp.slug %}" class="newtalkidea action action-new">Neuen Vorschlag anlegen</a>
{% endblock %}