{% extends "base.html" %}
{% load i18n %}
{% block end %}
<script type="text/javascript">
    $('.action').defaultFormOverlay();
</script>
{% endblock %}
{% block title %}
    {{ barcamp.name }}
{% endblock %}
{% block head_title %}{{ barcamp.name }}{% endblock %}
{% block pageactions %}
    {% if is_organizer %}
    <li><a class="action action-edit" href="{% url barcamp:edit barcamp.slug %}"><span>{% trans "Edit" %}</span></a></li>
    {% if barcamp.marked_for_removal_at %}
    <li><a class="action action-undo" href="{% url barcamp:undelete barcamp.slug %}"><span>{% trans "Cancel removal" %}</span></a></li>
    {% else %}
    <li><a class="action action-delete" href="{% url barcamp:delete barcamp.slug %}"><span>{% trans "Remove" %}</a></span></li>
    {% endif %}
    {% endif %}
    {{ block.super }}
{% endblock %}
{% block content %}
    {% if barcamp.marked_for_removal_at %}
    <p class="warning">
        <h3>{% trans "Warning" %}</h3>
        <p>{% trans "This barcamp was marked for removal." %}</p>
    </p>
    {% endif %}
    <div id="meta">
        <dl>
            <dt>{% trans "When?" %}</dt>
            <dd>{{ barcamp.start|date:"DATE_FORMAT" }} - {{ barcamp.end|date:"DATE_FORMAT" }}</dd>
        </dl>
    </div>
    <div id="teaser">{{ barcamp.teaser|markdown }}</div>
    <div id="description">{{ barcamp.description|markdown }}</div>
    
    <ul id="submenu">
        <li class="{% block submenu-barcamp-info %}{% endblock %}"><a href="{% url barcamp:view barcamp.slug %}">{% trans "Info" %}</a></li>
        <li class="{% block submenu-barcamp-proposals %}{% endblock %}"><a href="{% url barcamp:proposals barcamp.slug %}">{% trans "Talk ideas" %}</a></li>
        <li class="{% block submenu-barcamp-schedule %}{% endblock %}"><a href="{% url barcamp:schedule barcamp.slug %}">{% trans "Schedule" %}</a></li>
    </ul>
    <div id="subcontent">
        {% block subcontent %}
        {% endblock %}
    </div>
{% endblock %}
{% block sidebar %}
    <h2>{% trans "Sponsors" %}</h2>
    <ul>
        {% for sponsor in sponsors %}
        <li>
            <a href="{{ sponsor.url}}"><img src="{{ MEDIA_URL }}{{ sponsor.logo }}" alt="{{ sponsor.name }}" /></a>
            {% if is_organizer %}
            <a class="action action-edit" href="{% url barcamp:edit-sponsor barcamp.slug,sponsor.pk %}"><span>{% trans "Edit" %}</span></a>
            <a class="action action-delete" href="{% url barcamp:remove-sponsor barcamp.slug,sponsor.pk %}"><span>{% trans "Remove" %}</span></a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% if is_organizer %}
    <a class="action-new action" href="{% url barcamp:add-sponsor barcamp.slug %}"><span>{% trans "Add a sponsor" %}</span></a>
    {% endif %}
{% endblock %}
