{% extends "barcamp/barcamp-base.html" %}
{% load i18n %}
{% block submenu-barcamp-info %}active{% endblock %}
{% block subcontent %}
<h2>{% trans "Places" %}</h2>
<ul>
    {% for place in places %}
    <li>{{ place.name }}{% if place.location%}: {{ place.location }}{% if place.address %}<br />{{ place.address }}{% endif %}{% endif %}
    {% if is_organizer %}
    <a class="action action-edit" href="{% url barcamp:edit-place barcamp.slug, place.pk %}?next={{ request.path }}">{% trans "Edit" %}</a>
    <a class="action action-delete" href="{% url barcamp:delete-place barcamp.slug, place.pk %}?next={{ request.path }}">{% trans "Delete" %}</a>
    {% endif %}
    </li>
    {% endfor %}
</ul>
{% if is_organizer %}
<a class="action action-new" href="{% url barcamp:create-place barcamp.slug %}?next={{request.path}}">{% trans "Create place" %}</a>
{% endif %}
{% endblock %}


