{% if request.user.is_authenticated %}
    <p>Du bist angemeldet. Dieser Session-Vorschlag kann in der Folge nur
        noch von dir selbst oder einem der Organisatoren verändert oder 
        gelöscht werden.
    </p>
{% else %}
    <p>Du bist nicht angemeldet. Session-Vorschläge, die du jetzt erstellst, 
        können von jeder Person verändert oder auch gelöscht werden. Wenn
        du das verhindern möchtest, bitte melde dich an
    </p>
{% endif %}

<form method="post">
    {{ form.as_p }}
    <button type="submit">Speichern</button>
</form>