{% load i18n %}
{% if request.user.is_authenticated %}
    {% blocktrans %}
    <p>You are logged in. If you save this talk idea it can only be edited
    or removed by you or one of the organizers.</p>
    {% endblocktrans %}
{% else %}
    {% blocktrans %}
    <p>You are not logged in. If you save this talk idea it can be changed
    or removed by anyone. If you want to prevent this, suggest this talk 
    after logging in.</p>
    {% endblocktrans %}
{% endif %}

<form method="post">
    {{ form.as_p }}
    <p>
        <button type="submit">{% trans "Save" %}</button>
        <a class="cancel" href="{% block cancel-link %}{% url barcamp:view barcamp.slug %}{% endblock %}">{% trans "Cancel" %}</a>
    </p>
</form>
