{% extends "barcamp/iphone/base.html" %}
{% load i18n %}
{% block content %}
<div data-role="page">
    <div data-role="header" data-theme="c">
        <a href="{% url barcamp:view barcamp.slug %}" rel="external" data-icon="arrow-l">Back</a>
        <h1>{% trans "Sessions" %}</h1>
        <a href="{% url barcamp:view barcamp.slug %}" data-icon="home" data-theme="b">Start</a>
    </div>
    <div data-role="content">
        <ul data-role="listview">
            {% for day in days %}
            <li class="arrow"><a href="#schedule-{{ day.year }}-{{ day.month }}-{{ day.day }}">{{ day.date|date }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% for day in talks_per_day %}
<div data-role="page" id="schedule-{{ day.day.year }}-{{ day.day.month }}-{{ day.day.day }}">
    <div data-role="header" class="toolbar" data-theme="c">
        <a href="{% url barcamp:schedule barcamp.slug %}" data-rel="back" data-icon="arrow-l">Back</a>
        <h1 class="title">{{ day.day|date:'DATE_FORMAT' }}</h1>
        <a href="{% url barcamp:view barcamp.slug %}" data-icon="home" data-theme="b">Start</a>
    </div>
    {% for room, talks in day.rooms.items %}
    {% if talks %}
    <h2>{{ room.name }}</h2>
    <ul data-role="listview">
        {% for talk in talks %}
        <li><a href="{% url barcamp:event barcamp.slug, talk.pk %}">{{ talk.name }}
            <span class="info">{{ talk.start|time:'TIME_FORMAT' }} - {{ talk.end|time:'TIME_FORMAT' }}</span>
        </a></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endfor %}
</div>
{% endfor %}
{% endblock %}
