{% extends "barcamp/iphone/basepage.html" %}
{% load i18n %}
{% block title %}{{ event.name }}{% endblock %}
{% block page_content %}
<div data-role="main">
<h2>{% trans "Time" %}:</h2>
<ul><li>
    {% blocktrans with event.start|date:"DATE_FORMAT" as date and event.start|time:"TIME_FORMAT" as start and event.end|time:"TIME_FORMAT" as end %}
    {{ date }} from {{ start }} to {{ end }}
    {% endblocktrans %}
</li></ul>

<h2>{% trans "Place" %}:</h2><ul><li>{{ event.place.name }}</li></ul>
{% if event.talk %}
<h2>{% trans "Speaker(s)" %}:</h2><ul>{% for speaker in event.talk.speakers.all %}<li>{{ speaker.name }}</li>{% endfor %}</ul>
{% endif %}
</div>
<div class="description">{{ event.description|markdown }}</div>

</div>
{% endblock %}
