{% load i18n %}
<div id="schedule">
    <div class="toolbar">
        <h1 class="title">Sessions</h1>
        <a href="#" class="back">{% trans "Back" %}</a>
    </div>
    <ul class="">
        {% for day in days %}
        <li class="arrow"><a href="#schedule-{{ day.year }}-{{ day.month }}-{{ day.day }}">{{ day.date|date }}</a></li>
        {% endfor %}
    </ul>
</div>
{% for day in talks_per_day %}
<div id="schedule-{{ day.day.year }}-{{ day.day.month }}-{{ day.day.day }}">
    <div class="toolbar">
        <h1 class="title">{{ day.day|date:'DATE_FORMAT' }}</h1>
        <a href="#" class="back">{% trans "Back" %}</a>
    </div>
    {% for room, talks in day.rooms.items %}
    {% if talks %}
    <h2>{{ room.name }}</h2>
    <ul>
        {% for talk in talks %}
        <li><a href="{% url barcamp:event barcamp.slug, talk.pk %}">{{ talk.name }}</a>
            {{ talk.start|time }} - {{ talk.end|time }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endfor %}
</div>
{% endfor %}
