<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}assets/j/jquery-mobile/jquery.mobile-1.0a4.1.min.css" media="only all" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}assets/s/mobile.css" media="all" />
        <script src="{{ MEDIA_URL }}assets/j/jquery-1.5.2.min.js"></script>
        <script src="{{ MEDIA_URL }}assets/j/jquery-mobile/jquery.mobile-1.0a4.1.min.js"></script>
        <title>{% block page_title %}{% endblock %}</title>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
