body {font-family: Arial, Verdana, sans-serif;}
html, body {background:#325057; height: 100%;}
#body {width:100%; overflow:hidden;}
#page {
    width:960px; 
    margin:auto; 
    background: #FFF url(page.png) top left repeat-y; 
    border: 1px solid #50808C;
    border-left: 20px solid #50808C; 
    margin-top: 2em;
}
#main {width:98%; overflow:hidden; padding: 1%;}
#content {float:left; padding:1%; width: 64%; margin: 1em 0 0 0;}
#sidebar {float:right; width: 31%; padding: 1%;}
h1 {
    color:#325057; 
    border-bottom: 2px solid #50808C;
    font-size: 220%; 
    font-family: Georgia;
}
a { color: #D98539;}
#sidebar a {color:#FFF;}
#submenu {
    width: 100%;
    overflow: hidden;
    margin: 5px 0;
}
#submenu li {
    float: left;
    margin: 0 4px 0 0;
    background: #CECECE;
    border: 2px solid #CACACA;
    -webkit-border-radius: 0 7px 0 7px;
}
#submenu li.active {
    background: #EEE;
}
#submenu li a {
    display: block;
    text-decoration: none;
    padding: 5px;
}

.action {
    padding-left: 20px;
    background-position: 0% 50%;
    background-repeat: no-repeat;
}

.action-new {background-image: url(icons/document-new.png);}
.action-delete {background-image: url(icons/user-trash.png);}
.action-undo {background-image: url(icons/edit-undo.png);}
.action-edit {background-image: url(icons/edit-find-replace.png);}

.talkidea .title {
    font-size: 125%;
    font-family: Georgia;
}
.talkidea cite {
    text-align: right;
    font-style: italic;
    display: block;
}
textarea {
    width: 100%;
    padding: 0.5em;
    font-family: monospace;
    color: #444;
}

.overlay {
    display: none;
    background: #FFF;
    padding: 1em;
    border: 2px solid #DDD;
    width: 700px;
}