body {font-family: Arial, Verdana, sans-serif;}
html, body {background:#325057; height: 100%;}
#body {width:100%; overflow:hidden;}
#page {
    width:960px; 
    margin:auto; 
    background: #FFF url(page.png) top left repeat-y; 
    border: 1px solid #50808C;
    border-left: 20px solid #50808C; 
    margin-top: 2em;
}
#main {width:98%; overflow:hidden; padding: 1%;}
#content {float:left; padding:1%; width: 64%; margin: 1em 0 0 0;}
#sidebar {float:right; width: 31%; padding: 1%;}
h1 {
    color:#325057; 
    border-bottom: 2px solid #50808C;
    font-size: 220%; 
    font-family: Georgia;
}
a { color: #D98539;}
#sidebar a {color:#FFF;}